.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  #instructions {
    position: absolute;
    margin: 20px;
    width: 15%;
    left: 20%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 10px;
    z-index: 1; /* Ensure instructions are above the map */
  }
  